<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->
        <h1 align="left"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <!--
          Tharindu Adikari, University of Moratuwa
          Tharindu B. Adikari, University of Toronto
          thadikari
          -->
        <p align="left">
        I am a PhD candidate in Dept. of Electrical and Computer Engineering, University of Toronto under the supervision of <a href="https://www.ece.utoronto.ca/people/draper-s"><strong>Prof. Stark C. Draper</strong></a>.
        <!-- Distributed computing | Machine learning | Source coding | PhD candidate - University of Toronto
        Graduate student in ECE, UofT, working in distributed computing, source coding and machine learning. -->
        </p>
        <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->

        <div align="left">
        {% if site.logo %}
          <img src="/assets/img/photo.png" alt="Photo" width="200"/>
          <!-- <img src="{{site.logo | relative_url}}" alt="Logo" /> -->
        {% endif %}
        </div>
        <br>


        <!-- 
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
         -->

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://www.linkedin.com/in/thadikari">Profile <strong>LinkedIn</strong></a></li>
          <li><a href="https://scholar.google.ca/citations?user=FfBcLKcAAAAJ&hl=en">Google <strong>Scholar</strong></a></li>
          <li><a href="https://www.github.com/thadikari">Projects <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
